body{
    margin:0;
    font-family:Arial;
    display:flex;
}

.sidebar{
    width:250px;
    background:#0077b6;
    color:white;
    min-height:100vh;
    padding:20px;
}

.sidebar h2{
    text-align:center;
    margin-bottom:40px;
}

.sidebar a,
.sidebar button{
    display:block;
    width:100%;
    padding:15px;
    margin-bottom:15px;
    background:white;
    color:#0077b6;
    text-decoration:none;
    border:none;
    border-radius:8px;
    cursor:pointer;
    text-align:center;
    font-weight:bold;
}

.main{
    flex:1;
    padding:30px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th,
td{
    padding:15px;
    border:1px solid #ddd;
}

th{
    background:#0077b6;
    color:white;
}